body {
  background-color: #283252;
  font-family: Arial;
  color: white;
}
/*Main Title*/
div.titlebar{
	background-color: #05060A;
	color: white;
	text-align: center;
	font-family: "Lucida Console";
	font-size: 20px;
}
/*Tab Links*/
div.tabs{
	overflow: hidden;
	background-color: #522832;
	border: none;
}
div.tabs button{
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: crosshair;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 20px;
}
/*tab hover*/
.tabs button:hover{
	background-color: #05060A;
	color: white;
	border: none;
	outline: none;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 20px;	
}
div.tabs button.active{
	background-color: #8b652c;
}
div.tabcontent{
	display: none;
	padding: 6px 12px;
	border: 1px solid #8b652c;
	border-top: none;
}